@page "/buttontest"

<h3>ButonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">
            <CustomEditButtonComponent Caption="ShowMessage" />

            <CustomEditButtonComponent Caption="Edit Caption" Color="danger" Icon="pencil" IsSmall="false" />

            <AddNewButtonComponent />

            <button class="btn btn-danger">Danger Button</button>
        </div>
    </div>
</div>

@code {

}
